//Подключаем шрифты============================================================================================================
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Schoolbell:regular&display=swap);

//Подключаем шрифты============================================================================================================

//Шрифт по умолчанию===========================================================================================================
$fontFamily: "Inter";
//Шрифт по умолчанию===========================================================================================================

//ПЕРЕМЕННЫЕ===========================================================================================================
$maxWidthContainer: 1170px;
//ПЕРЕМЕННЫЕ===========================================================================================================

//ОБНУЛЕНИЕ===========================================================================================================
@import "_nullstyle";
//ОБНУЛЕНИЕ===========================================================================================================

body {
	background-color: #ffffff;
	font-family: "Inter";
	font-size: 18px;
	// min-width: 1170px;
	overflow-x: hidden;
}
.container {
	max-width: $maxWidthContainer;
	margin: 0px auto;
}

@import "_header";
@import "_main";
@import "_footer";
