@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Schoolbell:regular&display=swap);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------*/
body {
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.menu__link {
  position: relative;
  font-weight: normal;
  line-height: 22px;
  color: #a1b5bb;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__link:hover {
  text-shadow: 0 0 0.75px #a1b5bb;
}

.menu__link::before {
  content: "";
  width: 100%;
  height: 6%;
  background-color: #a1b5bb;
  position: absolute;
  bottom: -10%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.menu__link:hover::before {
  content: "";
  opacity: 1;
}

.btn {
  display: inline-block;
  background-color: #ffa63a;
  border-radius: 25px;
  padding: 15px 35px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

.btn:hover {
  background-color: #cc842c;
}

.btn_green {
  background-color: #145e76;
}

.btn_green:hover {
  background-color: #114f64;
}

.hey-Musa__fon-1 {
  position: absolute;
  z-index: -10;
  top: 0;
  height: 1114px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hey-Musa__container {
  height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hey-Musa__text {
  width: 537px;
}

.hey-Musa__hey {
  display: inline-block;
  font-family: "Schoolbell";
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  background: #094556;
  border-radius: 30px;
  padding: 14px 30px;
  margin-top: 105px;
}

.hey-Musa__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  margin-top: 40px;
}

.hey-Musa__subtitle {
  font-size: 18px;
  line-height: 29px;
  color: #849499;
  margin-top: 30px;
}

.hey-Musa__buttons {
  margin-top: 50px;
}

.hey-Musa__first-button {
  margin-right: 50px;
}

.hey-Musa__second-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #b6cdd5;
}

.hey-Musa__photo {
  margin-top: -23px;
}

.hey-Musa__jason-holder {
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  border-radius: 20px;
  width: 300px;
  padding: 18px 20px;
}

.jason-holder {
  position: absolute;
  line-height: 22px;
  left: 1100px;
  top: 208px;
}

.jason-holder__text {
  color: #ffffff;
  font-size: 14px;
}

.jason-holder__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.jason-holder__name {
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.jason-holder__prof {
  font-size: 12px;
  color: #a1b5bb;
}

/*=========================================================================================================================*/
.statistic__body {
  margin-top: 119px;
  padding: 78px 218px;
  background: #ffffff;
  -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.statistic__second-container {
  max-width: 734px;
}

.statistic__word {
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
  text-transform: uppercase;
}

.statistic__items {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic__value {
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  color: #08546c;
  text-align: center;
}

.statistic__text {
  font-size: 18px;
  line-height: 22px;
  color: #08546c;
  margin-top: 29px;
}

/*=========================================================================================================================*/
.service {
  margin-top: 200px;
}

.service__header {
  font-family: Schoolbell;
  font-size: 24px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #265a6a;
  text-align: center;
}

.product {
  margin-top: 30px;
}

.product__header {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
  text-align: center;
  width: 510px;
  margin: 0 auto;
}

.product__body {
  margin-top: 70px;
}

.product__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__block {
  padding: 32px 29px;
  background: #ffffff;
  -webkit-box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
          box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 273px;
          flex: 0 0 273px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.product__block:hover {
  background-color: #08546c;
}

.product__block:hover .product__logo {
  background-color: #ffa800;
}

.product__block:hover .product__logo svg path {
  stroke: #ffffff;
}

.product__block:hover .product__title {
  color: #ffffff;
}

.product__block:hover .product__subtitle {
  color: #b2bbbd;
}

.product__logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5fbfc;
}

.product__logo svg {
  position: relative;
  top: 21%;
  left: 21%;
}

.product__logo svg path {
  stroke: #08546c;
}

.product__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f1221;
  margin-top: 25px;
}

.product__subtitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}

.portfolio {
  margin-top: 200px;
}

.portfolio__header-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
}

.portfolio__header-subtitle {
  font-size: 18px;
  line-height: 29px;
  color: #757575;
  max-width: 569px;
  margin-top: 10px;
}

.portfolio__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__block {
  width: 515px;
  margin-top: 70px;
}

.portfolio__title {
  margin-top: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
}

.portfolio__subtitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.portfolio__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #08546c;
  margin-top: 20px;
  position: relative;
}

.portfolio__link::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 160px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9H17' stroke='%2308546C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 1L17 9L9 17' stroke='%2308546C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.portfolio__link:hover {
  color: #ffa800;
}

.portfolio__link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9H17' stroke='%23FFA800' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 1L17 9L9 17' stroke='%23FFA800' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.footer {
  margin-top: 100px;
  border-top: 2px solid #d5d5d5;
}

.footer__body {
  padding: 109px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 344px;
          flex: 0 1 344px;
}

.footer__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}

.footer__sites {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer__facebook:hover svg g path {
  fill: #ffa800;
}

.footer__inst:hover svg path {
  stroke: #ffa800;
}

.footer__tweeter:hover svg path {
  fill: #ffa800;
}

.footer__in:hover svg path {
  fill: #ffa800;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}

.footer__links {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__link {
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}
